.faqs {
  padding: 40px 16px;
  background-color: #191c1b;
  color: #f9fcff;
}

.faqs h3 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -1;
  line-height: 45px;
}

.faqs p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.faq-items {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.faq {
  flex: 1;
  padding: 16px;
  background-color: #99999999;
  border: 1px solid #f4f7fb;
  border-radius: 8px;
}

.faq h4 {
  font-size: 16px;
  font-weight: 700;
}

.faq p {
  font-size: 14px;
  font-weight: 400;
}
